include README.rst
include LICENSE
include CHANGES

include tox.ini

recursive-include sphinxcontrib/{{ cookiecutter.project_name }}/templates *
recursive-include sphinxcontrib/{{ cookiecutter.project_name }}/locales *
recursive-include tests *
