include README.rst
include LICENSE
include CHANGES

include tox.ini

recursive-include sphinxcontrib/{{ cookiecutter.package_name }}/templates *
recursive-include sphinxcontrib/{{ cookiecutter.package_name }}/locales *
recursive-include tests *
